body {
    background-color: #41b3a3;
}

.titleBox {
    background-color: #E8A87C;
    width:max-content;
}

.formBox {
    background-color: #C38D9E;
}

.bar {
    display: flex;
    flex-direction: row;
}
