body {
    background: url("taxi.png");
}

.titleBox {
    background-color: #E8A87C;
    width:max-content;
}

.formBox {
    background-color: #62a6b3;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bartxt {
    font-size: large;
    color: white;
}

.infodiv {
    margin-top: 10em;
    margin-bottom: 5em;
}

.infotxt {
    font-size: x-large;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;;
}