certifi==2019.9.11
chardet==3.0.4
Click==7.0
decorator==4.4.1
Flask==1.0.4
future==0.18.2
geocoder==1.38.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
PyJWT==1.7.1
pytz==2019.3
ratelim==0.1.6
requests==2.21.0
six==1.13.0
twilio==6.35.2
urllib3==1.24.3
Werkzeug==0.16.0