{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block script %}{% endblock %} <!-- 404 error on <script type="text/javascript" src="{{ url_for('static', filename='validation.js') }}"></script> -->
{% block body %}
<div class="bg">
    {% block ifError %}
        {% if error != "" %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    {% endblock ifError %}
    <div class="infodiv">
        <h1 class="infotxt">Using machine learning algorithms trained on millions of Lyft rides, we predict when ride-sharing platforms will surge their prices, so you can travel for less!</h1>
    </div>
    <form style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="formBox" name="questionform" action="/" method="POST">
        <div style="padding: 2em;"> 
            <div class="row">
                <div class="col mb-3">
                    <label for="startLocation">Starting Location</label>
                    <input type="text" class="form-control" name="startLocation" />  
                </div>
                <div class="col mb-3">
                    <label for="endLocation">Ending Location</label>
                    <input type="text" class="form-control" name="endLocation" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="startTime">Earliest Time</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                <input type="text" name = "datetimepicker3" class="form-control datetimepicker-input" data-target="#datetimepicker0"/>
                                <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker3').datetimepicker({
                                format: 'LT'
                            });
                        });
                    </script>
                </div>
                <div class="col">
                    <label for="endTime">Latest Time</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" name = "datetimepicker1" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker({
                                format: 'LT'
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="submit">
                <div class="col mb-3">
                    <label for="startLocation">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" />  
                </div>
                <input style="margin-right: 50%;" type="submit" class="btn btn-primary" name="button" value="Submit">
            </div>
        </form>
    </div>
    <table class="table formBox">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Predicted Pricing</th>
                
            </tr>
        </thead>
    </table>
</div>
{% endblock body %}