{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block script %}{% endblock %} <!-- 404 error on <script type="text/javascript" src="{{ url_for('static', filename='validation.js') }}"></script> -->
{% block body %}

<div>
    <div>
        <img src="https://i.imgur.com/Rf2X2aC.png" style="width: 40%; height: 40%"/>
        <p class="lead">A service for predicting surge pricing for the lyft ridesharing service!</p>
    </div>

    {% block ifError %}
        {% if error != "" %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    {% endblock ifError %}

    <!-- form -->

    <form name="questionform" action="/" method="POST">
        <div class="row">
            <div class="col mb-3">
                <label for="startLocation">Starting Location</label>
                <input type="text" class="form-control" name="startLocation" />  
            </div>
            <div class="col mb-3">
                <label for="endLocation">Ending Location</label>
                <input type="text" class="form-control" name="endLocation" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="startTime">Earliest Time</label>
                <input type="time" class="form-control" name="startTime">
            </div>
            <div class="col">
                <label for="endTime">Latest Time</label>
                <input type="time" class="form-control" name="endTime"> 
            </div>
        </div>
        
        <!-- <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker3').datetimepicker({
                            format: 'LT'
                        });
                    });
                </script>
            </div>
        </div> -->

        <!-- <div class="row">
            <label for="date">Date Range</label>
            <div class="input-group mb-3">
                <input type="date" class="form-control" name="min_date"/>
                <input type="date" class="form-control" name="max_date"/>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col">
                <label for="category">Category (requires numerical ID: find ID <a href="http://jservice.io/search" target="_blank">here</a>)</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="category" />
                </div>
            </div>
            <div class="col">
                <label for="value">Value</label>
                <select class="custom-select mb-3" name="value">
                    <option selected>Select value</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="600">600</option>
                    <option value="800">800</option>
                    <option value="1000">1000</option>
                </select>
            </div>
        </div> -->

        <input type="submit" class="btn btn-primary mb-3" name="button" value="Submit">
        <!-- <input type="submit" class="btn btn-primary mb-3" name="button" value="Random"> -->
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Predicted Pricing</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock body %}
